body {background-image: url("../images/bg.png")}
#page {
    background-image: url("../images/jobcenter_stor_bg.png");
    background-position: center 90px;
    background-repeat: no-repeat;
}

#zone-preface-wrapper {
    background-image: url("../images/jobcenterWebstederBanner.png");
}


/* logo */
.logo-img {
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}

.contextual-links a {font-size: 9px}

#forside .grid-8 {
    width: 645px;
}

#forside .grid-6 { width: 470px;}

#forside .view-spotboxe .spotbox-row {padding-left: 0px; background-image: url("../images/spot1b.png")}