.node-type-contentpage .field-items h2 {
color: #4B4B4B;
font-size: 15px;
background-image: url(../images/arrow-down-over.png);
background-repeat: no-repeat;
padding-left: 15px;
background-position: 0px 5px;
}


.node-type-contentpage .field-items a {
color: #4B4B4B;
font-size: 15px;
}

.node-type-contentpage .field-items li {
list-style-image: url(../images/megamenu-arrow-over.png);
color: #4A4A4A;
font-size: 13px;
line-height: 22px;
}

.search-results a {
	background-image: url(../images/megamenu-arrow-over.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	background-position: 0px 5px;
	color: #464646;
	font-size: 15px;
}

.search-results p {
	font-size: 12px;
	color: #464646;
}

.search-results li:hover a {
	color: #8b0054;
}

.search-results li:hover p {
	text-decoration:underline;
}

.search-results .search-snippet-info {
	padding-left: 0;
}

.block-system .search-form .form-text {
	line-height: 69px;
	height: 69px;
	font-size: 50px;
	width: 640px;
	color: #797979;
	border: 0;
}

.search-form #edit-submit {
	background-image: url(../images/soegefeltLUP.png);
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 69px;
	width: 64px;
	text-indent: -2000px;

}


#region-sidebar-first #facetapi-facet-apachesolrsolr-block-im-field-site-structure li {list-style:none;}

#region-sidebar-first #facetapi-facet-apachesolrsolr-block-im-field-site-structure li a {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	width: 74.5%;
	padding: 20px 40px 20px 20px;
	background: url(../images/v-arrow-default.png) no-repeat right 50%;
	border-bottom: 1px solid #E6E6E6;
	color: #333;
}

#region-sidebar-first #facetapi-facet-apachesolrsolr-block-im-field-site-structure li:hover a {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	width: 74.5%;
	padding: 20px 40px 20px 20px;
	background: url(../images/v-arrow-default-on.png) #8B0053 no-repeat right 50%; 
	border-bottom: 1px solid #E6E6E6;
	color: #FFF;
}
.printvenlig-side-sog a{
        background-image: url(../images/print.png);
        background-repeat: no-repeat;
        height: 60px;
        width: 79px;
        background-position: right top;
        position: absolute;
        top: 147px;
        left: 625px;
}


.yaselect-wrap { 
	padding: 8px 0 0 10px; 
	margin: 0; 
	height: 32px; }
	
.yaselect-select { 
	margin-top: 0; 
	padding-top: 0; }
	
.yaselect-current {
	margin-top: 5px }
	
.yaselect-wrap, 
.yaselect-current { 
	cursor: pointer; display: block; }
	
.yaselect-wrap, 
.yaselect-current, 
.yaselect-select { 
	font-size: 15px; 
	color: #787878; }
	
.form-item-committee .yaselect-wrap { 
	width: 440px; }
.form-item-committee .yaselect-wrap, 
.form-item-committee .yaselect-current, 
.form-item-committee .yaselect-select { 
	width: 439px; 
	text-transform: uppercase }


.fullcaserender,
.documenttable {
	padding: 10px 16px 0px 16px;
	margin: 0px 10px 10px 10px;
	background-color: #f6f6f6;
}

.documenttable tr.odd td  {
	padding: 0;
}

.documentdate {
	position: relative;
	top: -10px;
}

.field .fullcaserender th, .field .fullcaserender tr, .field .fullcaserender td, .field .documenttable td, .field .documenttable tr, .field .documenttable th {
	border: 0;
	padding: 0;

}

.field-group-fieldset .fieldset-wrapper a {
	font-size: 13px;
}

.documentheader {
	padding-bottom: 5px;
	line-height: 12px;
}

.fieldset-legend {
	padding: 10px 16px 10px 16px;
	margin: 20px 10px 0px 10px;
	width: 418px;
	display: block;

	background-color: #f6f6f6;
}

#region-branding {
	margin-left: 0;
}

.video-text {
	float: left;
	background-image: url(../images/megamenu-arrow.png);
	background-repeat: no-repeat;
	padding-left: 13px;
	position: relative;
	width: 111px;
	background-position: 0 12px;
	font-size: 11px;
	line-height: 15px;
	padding-top: 10px;
	border-top: 1px solid #ebebeb;
}

.spotbox-video .youtube-player {
position: absolute;
}
.breadcrumb a:hover {
	color: #8b0053;
}

.selvbetjening-block-forside .yaselect-anchor {
 background-repeat: no-repeat;
 height: 68px;
 width: 291px;
 display: block;
}

.selvbetjening-block-forside .view-content .yaselect-anchor {
 background-image: url('../images/sb-forside-dd-1.png');
}
.selvbetjening-block-forside .view-footer .yaselect-anchor {
 background-image: url('../images/sb-forside-dd-2.png');
}

.selvbetjening-block-forside .yaselect-open {
 background-image: url('../images/sb-forside-dd-open.png');
}
.selvbetjening-block-forside .yaselect-current{
 display: block;
 width: 280px;
 text-transform: none;
 visibility: hidden;
}

.selvbetjening-block-forside .yaselect-wrap {
 padding: 12px 0 0 20px;
 position: absolute;
}
.selvbetjening-block-forside .yaselect-select {
 margin-left: 10px;
 width: 280px;
}

.selvbetjening-block-portal .yaselect-anchor {
 background-repeat: no-repeat;
 height: 58px;
 width: 204px;
 display: block;
 margin-left: 6px;
}

.selvbetjening-block-portal .view-content .yaselect-anchor {
 background-image: url('../images/sb-portal-dd-1.png');
}
.selvbetjening-block-portal .view-footer .yaselect-anchor {
 background-image: url('../images/sb-portal-dd-2.png');
}

.selvbetjening-block-portal .yaselect-open {
 background-image: url(../images/sb-portal-dd-open.png);
}

.selvbetjening-block-portal .yaselect-current{
 display: block;
 width: 182px;
 visibility: hidden;
}

.selvbetjening-block-portal .yaselect-wrap {
 padding: 7px 0 0 20px;
 position: absolute;
}
.selvbetjening-block-portal .yaselect-select {
 margin-left: 3px;
 width: 198px;
}


#block-apachesolr-search-sort ul {
list-style: none;
margin: 0;
padding: 0;
width: 12em;
float: left;

}


#block-apachesolr-search-sort h2,
#block-apachesolr-search-sort a {
 display: block;
 color: #646464;
 }


#block-apachesolr-search-sort h2 {
 background-image: url(../images/sog-dd.png);
 height: 40px;
 width: 135px;
 padding-top: 13px;
 padding-left: 8px;
}

#block-apachesolr-search-sort div.block-inner {
 width: 140px;
 position:absolute;
 top: 142px;
 left: 34px;
}

.logged-in #block-apachesolr-search-sort div.block-inner {
 top: 87px;
}

#block-apachesolr-search-sort li {
 position: relative;
}

#block-apachesolr-search-sort ul {
 position: absolute;
 z-index: 500;
}

#block-apachesolr-search-sort ul  {
display: none;
}

#block-apachesolr-search-sort div:hover ul {
display: block;
background-color: #fff;
border-bottom: 1px solid #777;
border-left: 1px solid #777;
border-right: 1px solid #777;
width: 133px;
margin-left: 2px;
}

#block-apachesolr-search-sort div:hover h2 {
 height: 28px;
}


#block-apachesolr-search-sort img {
 float: left;
}

#block-system-main #edit-basic label {
 display: none;
}
#block-system-main #edit-basic  {
 margin-bottom: 100px;
 margin-top: 60px;
}

#block-apachesolr-search-sort .contextual-links-wrapper {
 display: none;
}

#edit-go,
#edit-go--2 {
display: none;
}

.page-search-node .rel-register-link, 
#block-apachesolr-search-sort--2,
.page-search-node .region-inner h1.title {
display: none;
}

.search-results.apachesolr_search-results {
margin-left: 24px;
margin-right: 10px;
}

.form-item.form-type-checkbox.form-item-retain-filters {
display: none;
}
.search-result {
border-bottom: 1px solid #F3F3F3;
}
