/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: Arial, Sans-Serif; color: #222; }

table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; } 

body {background-image: url(../images/bg.png)}
body, div {font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}

::-moz-selection { background: #8b0053; color: #fff; text-shadow: none; }
::selection { background: #8b0053; color: #fff; text-shadow: none; }

a:link, a:visited { color: #8b0053; text-decoration: none;}

h1, h2, h3, h4, h5, h6 { letter-spacing: -0.05em; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; }

.block-user-menu, .vertical-menu, .block-menu-top-menu {}

.block-user-menu  a, .vertical-menu a, , .block-menu-top-menu a { text-decoration: none }


#zone-user a, #zone-menu a {color: #656565; text-decoration: none}
#zone-menu { overflow: hidden; text-transform: uppercase; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}


#main-menu {float: left; line-height: 65px;font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}
#main-menu li a {background-image: url(../images/menu-dp.png); background-position: right; background-repeat: no-repeat; color: #666; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}

ul.menu, ul.menu li, ul.menu a {list-style: none; color: #666; margin-left: 0px;}
.block-search-form {float: right}


ul.inline li {padding: 0}
h2.pane-title, h2.block-title {color: #4B4B4B; font-size: 16px; margin: 0px; border-bottom: 0px solid #ccc; margin-bottom: 5px; padding-bottom: 0px; text-transform: uppercase; font-weight: normal}
h2.pane-title a, h2.block-title a {color: #4B4B4B}
#block-block-3 {float: left}

#block-search-form  h2 { display: none}

#block-search-form .content {}

#block-search-form .content #edit-search-block-form--2 {width: 333px; font-size: 18px; border: none; height: 40px; vertical-align: top; padding: 20px 0px; text-transform: uppercase; background: transparent; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; margin: 14px 0px; width: 370px}

#block-search-form #edit-submit,
#block-search-form .form-submit,
#block-search-form #edit-submit--3 {
    background-image: url(../images/search-button.png); width: 70px; height: 68px; border: none; margin: 0; padding: 0; border-radius: 0px;  -moz-border-radius: 0px;
    }
#region-header-second .region-inner {padding-top: 68px; padding-left: 20px}
#region-header-second .region-inner li { float: left; padding-right: 10px; text-transform: uppercase; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; font-size: 11px; list-style: none; }

#region-sidebar-first li.expanded, #region-sidebar-first li.collapsed, #region-sidebar-first li.leaf {padding: 0; margin: 0}
#region-sidebar-first ul.menu {background-image: url(../images/menu-bg-ul.png); }
#region-sidebar-first ul.menu li a {padding-left: 20px}
#region-sidebar-first ul.menu li { line-height: 50px ;list-style: none; background-image: url(../images/v-menu-bg.png); background-position: right center;margin: 0; padding-left: 0px; display: block; vertical-align: middle; background-repeat: no-repeat;}
#region-sidebar-first ul.menu li:hover a, 
#region-sidebar-first ul.menu li.active-trail:hover a, 
#region-sidebar-first ul.menu li.active-trail a { color: #000;}
#region-sidebar-first ul.menu li:hover,
#region-sidebar-first ul.menu li.active-trail, 
#region-sidebar-first ul.menu li.active-trail.active, 
#region-sidebar-first ul.menu li.expanded,
#region-sidebar-first ul.menu li.active-trail li.active-trail.active,
#region-sidebar-first ul.menu li.active-trail li.active-trail li.active-trail.active,
#region-sidebar-first ul.menu li.active-trail li.active-trail li.active-trail li.active-trail.active,
#region-sidebar-first ul.menu li.active-trail li.active-trail li.active-trail li.active-trail li.active-trail li.active-trail.active {
  background-image: url(../images/v-menu-bg-dp.png); background-repeat: repeat; background-position: top left;
}

#region-sidebar-first ul.menu li ul {background-color: #E2E2E2; background-image: url(../images/menu-bg-ul-li-ul.png); background-repeat: no-repeat}
#region-sidebar-first ul.menu li ul li ul {background-color: #E2E2E2; background-image: url(../images/menu-bg-ul-li-ul-li-ul.png); background-repeat: no-repeat}
#region-sidebar-first ul.menu li ul li ul li ul {background-color: #E2E2E2; background-image: url(../images/menu-bg-ul-li-ul-li-ul-li-ul.png); background-repeat: no-repeat}
#region-sidebar-first ul.menu li ul li ul li ul li ul {background-color: #E2E2E2; background-image: url(../images/menu-bg-ul-li-ul-li-ul-li-ul-li-ul.png); background-repeat: no-repeat}
#region-sidebar-first ul.menu li ul li ul li ul li ul li ul{background-color: #E2E2E2; background-image: url(../images/menu-bg-ul-li-ul-li-ul-li-ul-li-ul-li-ul.png); background-repeat: no-repeat}
#region-sidebar-first ul.menu li ul li ul li ul li ul li ul li ul{background-color: #E2E2E2; background-image: url(../images/menu-bg-ul-li-ul-li-ul-li-ul-li-ul-li-ul-li-ul.png); background-repeat: no-repeat}
#region-sidebar-first ul.menu li ul li {padding-left: 0px; background-image: url(../images/menu-bg-ul-li-ul-li.png);border-bottom: 1px solid #CECECE; background-repeat: no-repeat}

#region-sidebar-first ul.menu li ul li.active-trail { background-image: url(../images/menu-bg-ul-li-ul-li-active-trail.png); color: #FFF}
#region-sidebar-first ul.menu li ul li a.active { color: #FFF; background-image: url(../images/menu-markeret-expanded.png);background-repeat: no-repeat; background-position: right}
#region-sidebar-first ul.menu li ul li.expanded  { color: #FFF; background-image: url(../images/menu-markeret-expanded.png);background-repeat: no-repeat; background-position: right}
#region-sidebar-first ul.menu li ul li.expanded a {color: #FFF; background-repeat: no-repeat; background-position: right}
#region-sidebar-first ul.menu li a { display: inline; line-height: 20px; color: #333}

#region-sidebar-first  .block-title {padding-left: 20px; line-height: 50px}

.block-multistep { background-color: #8B0047; color: #fff; margin-bottom: 20px}
.block-multistep a {color: #fff}

.block-multistep a.multistep-submitted {  color: #FFF;}
.block-multistep a.multistep-unsubmitted { color: #FFF; font-weight: bold}
.block-multistep span.multistep-unsubmitted { color: #CC72A6}


.block-multistep .content { padding: 10px 20px}

div.vertical-tabs .vertical-tabs-panes .fieldset-wrapper legend {
  display:block;
  margin-bottom:2.5em;
}

#search-block-form .rel-register-link {display: none}
/*Bellcom Custom*/

.views-slideshow-controls-top {
	float: right;
}

#views_slideshow_cycle_main_rotating_image_view-block {
	float: left;
	border: solid #fff 5px;
	box-shadow: 2px 0px 2px #eee;
	-webkit-box-shadow: 2px 0px 2px #eee;
	-moz-box-shadow: 2px 0px 2px #eee;
	behavior: url(ie-css3.htc); /* IE FIX -tc */
}

#views_slideshow_cycle_main_rotating_image_view-block.hover {
	border: solid #961862 5px;
}

.custom-slideshow {
	background: #fff;
	float: left;
	width: 631px;
	box-shadow: -2px 3px 2px #eee;
	-webkit-box-shadow: -2px 3px 2px #eee;
	-moz-box-shadow: -2px 3px 2px #eee;
	behavior: url(ie-css3.htc); /* IE FIX -tc */
}

.views-slideshow-pager-field-item {
	height: 65px;
	text-align: center;
	width: 161px;
	background-position: -9999px -9999px;
	background-repeat: no-repeat;
}

.views-slideshow-pager-field-item.active {
	color: #fff;
	background-position: 15px 0;
}

#widget_pager_top_rotating_image_view-block {
	width: 161px;
	text-align: center;
	margin-top: 5px;
}

.views-slideshow-pager-field-item .views-field-title {
	display: table-cell;
	height: 65px;
	text-align: left;
	vertical-align: middle;
	width: 161px;
	font-size: 11px;
}

.views-slideshow-pager-field-item .views-field-title .views-content-title .item-bg {
	background: url(../images/slide-nav-arrow-default.png) no-repeat 2% 48% transparent;
	padding: 0 5px 0 25px;
	padding-right: 10px;
}

.custom-slideshow .views-slideshow-pager-field-item.active .views-field-title .item-bg {
	background: url(../images/slide-nav-arrow.png) no-repeat 2% 48% transparent;
}

.views-slideshow-pager-field-item.active .views-field-title .views-content-title {
	background: url(../images/g80.png) top left;
	box-shadow:inset 1px 1px 5px #000;
	-webkit-box-shadow:inset 1px 1px 5px #000;
	-moz-box-shadow:inset 1px 1px 5px #000;
	display: table-cell;
	height: 65px;
	vertical-align: middle;
	width: 161px;
	behavior: url(ie-css3.htc); /* IE FIX -tc */
}

.views-slideshow-pager-field-item.hover .views-field-title .views-content-title {
	background: url(../images/p80.png) top left;
	position: relative;
	z-index: 999;
}

.custom-slideshow .views-field-body {
	background: url(../images/w80.png) top left;
	position: relative;
}

.custom-slideshow .views-field-body a {
	display: block;
	padding-top: 8px;
	height: 70px;
	width: 440px;
	margin-top: -78px;
	background-image: url(../images/slide-arrow.png);
	background-position: 10px 14px;
	background-repeat: no-repeat;
	position: relative;
	font-size: 21px;
	color: #666;
	padding-left: 20px;
}

.custom-slideshow .views-field-body a span {
	color: #8b0053;
}

.view-id-newslist.view-display-id-panel_pane_1,
.view-id-newslist .jcarousel-skin-default {
	background: url(../images/news-list-bg.png) top left repeat-x;
	width: 100%;
	height: 155px;
	border-radius: 6px;
	box-shadow: 0px 0px 2px #eee;
	-webkit-box-shadow: 0px 0px 2px #eee;
	-moz-box-shadow: 0px 0px 2px #eee;
	behavior: url(ie-css3.htc); /* IE FIX -tc */
}

.view-id-newslist .jcarousel-container {
	width: 100%;
	height: 155px;
	padding: 0;
}

.view-id-newslist .jcarousel-skin-default .jcarousel-clip-horizontal {
	width: 100%;
	height: 155px;
}

.view-id-newslist .news-list-right,
.view-id-newslist .news-list-left {
	float: left;
	text-align: left;
	padding-top: 8px;
	height: 86px;
	overflow: hidden;
}

.view-id-newslist .news-list-left {
	width: 85px;
	text-align: center;
}

.view-id-newslist .news-list-right {
	width: 200px;
}

.view-id-newslist p {
	margin-bottom: 5px;
}

.view-id-newslist p:first-child {
	font-weight: bold;
}

.view-id-newslist .jcarousel-skin-default .jcarousel-clip-horizontal .news-list-left img {
	margin-left: 0;
	border: solid 2px #fff;
}

.view-id-newslist .jcarousel-skin-default a.jcarousel-prev,
.view-id-newslist .jcarousel-skin-default a.jcarousel-prev:hover,
.view-id-newslist .jcarousel-skin-default a.jcarousel-next:hover,
.view-id-newslist .jcarousel-skin-default a.jcarousel-next {
	top: 0;
	right: 0;
	width: 20px;
	background: url(../images/jcarousel-right.png) top left no-repeat;
	height: 155px;
}

.view-id-newslist .jcarousel-skin-default a.jcarousel-prev,
.view-id-newslist .jcarousel-skin-default a.jcarousel-prev:hover {
	left: 0;
	background-image: url(../images/jcarousel-left.png);
}

.view-id-newslist .jcarousel-skin-default .jcarousel-item-horizontal p,
.view-id-newslist .jcarousel-skin-default .jcarousel-item-horizontal a {
	color: #666;
}

.view-id-newslist .jcarousel-skin-default .jcarousel-item-horizontal {
	border: 0;
	height: 155px;
}

.view-id-newslist .jcarousel-container .news-list-next {
	display: block;
	float: left;
	width: 272px;
	text-align: left;
	padding-left: 13px;
}

.view-newslist .jcarousel-container .news-list-next p {
	display: inline;
	padding-right: 5px;
}

#block-block-5 {
	float: right;
	margin-top: -18px;
	height: 17px;
	left: 20px;
}

#region-header-second .region-inner li {
	border-right: solid 1px #d8d8d8;
	padding-right: 7px;
	margin-left: 7px;
}


.view-newslist.view-display-id-page_1 .news-list-next {
	display: none;
}

.view-newslist.view-display-id-page_1 li {
	display: block;
	clear: both;
	width: 100%;
}

.view-id-newslist.view-display-id-page_1 .news-list-right {
	width: 300px;
}

.view-id-newslist.view-display-id-panel_pane_1 .news-list-right {
  width: 200px;
  margin-left: 20px;
  font-size: 10px;
}

.view-id-newslist.view-display-id-panel_pane_1 .views-row-first .news-list-right {
  margin-left: 0;
  font-size: 13px;
}

.view-id-newslist.view-display-id-panel_pane_1 .news-list-left {
  display: none;
  width: 200px;
}

.view-id-newslist.view-display-id-panel_pane_1 .views-row-first .news-list-left {
  display: block;
}
.float-right {float: right}

.field-name-field-case .fullcaserender {background-color: #666; padding: 10px}

.field-name-field-case .fullcaserender table {border: none}
.field-name-field-case .fullcaserender thead th, .field-name-field-case .fullcaserender th {
    background: none repeat scroll 0 0 #666;
    border-bottom: 1px solid #CCCCCC;
    color: #fff;
}
.field-name-field-case .fullcaserender tr.odd td {
    background: none repeat scroll 0 0 #666666;
    color: #fff
}

.field-name-field-case .fullcaserender tr.even td {
    background: none repeat scroll 0 0 #909090;
}

body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
#page {background-image: url(../images/ebeltoft-stor-bg.png); background-attachment: fixed; }


#section-header {background-image: url(../images/byvaaben1.png); background-position: center top; background-repeat: no-repeat}
#section-content {background-image: url(../images/byvaaben2.png); background-position: center top; background-repeat: no-repeat; padding-bottom: 25px;}
#section-footer main-menu

#zone-preface-wrapper {height: 5px; background-image: url(../images/lilla-streg.png)}

#zone-footer-wrapper {}

#zone-content {padding-top: 10px;border-radius: 6px;background-color: #FBFBFB ; background-image: url(../images/content-bg.png); background-position: center top; background-repeat: no-repeat;*/}
#zone-footer {border-radius: 6px; background-image: url(../images/footer-bg.png); background-position: top left; background-repeat: repeat-x; min-height: 350px;}

#zone-postscript { background-image: url(../images/cw-bg-bund.png); background-position: center; background-repeat: repeat-y; }
#zone-menu { background-image: url(../images/menu-bag.png); font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif; height: 68px; background-position: center top}
#region-user-second, #region-header-second {float: right} 

.block-user-menu  ul, .vertical-menu ul, .block-menu-top-menu ul { padding-left: 2px}
.block-user-menu  ul li, .vertical-menu ul li, .block-menu-top-menu ul li { float: left; padding: 0 7px 0 9px; margin: 0 1px 0 -1px; list-style: none; text-transform: uppercase }

#zone-user {height: 33px; padding-top: 0px;font-size: 9px;}
#zone-user .menu { margin-top: 6px ; line-height: 22px}

#zone-menu .region-inner, #zone-content-wrapper .region-inner { }
#zone-menu #main-menu  {line-height: 69px; height: 69px; font-size: 18px; margin: 0 20px }
#main-menu {float: left; line-height: 69px;}
#main-menu li {line-height: 69px; float: left; list-style: none}
#main-menu li a {padding-left: 0px; padding-right: 30px;}

#breadcrumb { padding: 10px; text-transform: uppercase; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif; color: #666 }
#breadcrumb a { color: #666;}

#zone-header{ padding-bottom: 10px}
#region-sidebar-first {width: 235px; margin-right: 5px}

#region-menu { width: 954px;}

.region-footer-first-inner, .region-footer-second-inner, .region-footer-third-inner {margin: 10px}
.region-footer-first-inner {padding-left: 145px; line-height: 30px}
#region-footer-first {background-image: url(../images/lille-logo.png); }

.qtip-cmstheme {  margin-top: 42px; background-color: transparent}

.node-type-files .field-name-field-resume-long { font-size: 22px}

.omega-24-twocol-12-12 {width: 940px}
.omega-24-twocol-12-12 .grid-12 {width: 460px; background-color: transparent}

#block-search-form .content #edit-search-block-form--2 {width: 333px; font-size: 18px; border: none; height: 40px; vertical-align: top; padding: 20px 0px; text-transform: uppercase; background: transparent; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; margin: 14px 0px; width: 370px; position: relative; left: -10px;}

#block-search-form #edit-submit {
    background-image: url(../images/search-button.png); width: 70px; height: 68px; border: none; margin: 0; padding: 0; border-radius: 0px;  -moz-border-radius: 0px;
    }
#region-header-second .region-inner {padding-top: 68px; padding-left: 20px}
#region-header-second .region-inner li { float: left; padding-right: 10px; text-transform: uppercase; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; font-size: 11px; list-style: none; }
#region-header-second .region-inner li.first { margin-left: 0px }

#region-sidebar-first li.expanded, #region-sidebar-first li.collapsed, #region-sidebar-first li.leaf {padding: 0; margin: 0}
#region-sidebar-first ul.menu {background-image: url(../images/menu-bg-ul.png); }
#region-sidebar-first ul.menu li a {padding-left: 20px}
#region-sidebar-first ul.menu li { line-height: 1.2;list-style: none; background-image: url(../images/v-menu-bg.png); background-position: right center;margin: 0; padding-left: 0px; display: block; vertical-align: middle; background-repeat: no-repeat;}
#region-sidebar-first ul.menu li.expanded {line-height: 1.2/*50px*/; /*background-image: url(../images/menu-bg-ul-li-expanded.png);*/background-position: 0 -10px; border-bottom: 0;}

#region-sidebar-first ul.menu li ul {background-color: #E2E2E2; background-image: url(../images/menu-bg-ul-li-ul.png); background-repeat: no-repeat}
#region-sidebar-first ul.menu li ul li {padding-left: 0px; background-image: url(../images/menu-bg-ul-li-ul-lii.png);border-bottom: 1px solid #CECECE; background-repeat: no-repeat}

#region-sidebar-first ul.menu li ul li.active-trail { background-image: url(../images/menu-bg-ul-li-ul-li-active-trail.png); color: #FFF}
#region-sidebar-first ul.menu li ul li a.active { color: #FFF; background-image: url(../images/menu-markeret-expanded.png);background-repeat: no-repeat; background-position: right; display: block; line-height: 50px;}
#region-sidebar-first ul.menu li ul li.expanded  { color: #FFF; background-image: url(../images/menu-markeret-expandedd.png);background-repeat: no-repeat; background-position: right}
#region-sidebar-first ul.menu li ul li.expanded a {color: #000; background-repeat: no-repeat; background-position: right}
#region-sidebar-first ul.menu li a { display: inline; line-height: 20px; color: #333}

#region-sidebar-first  .block-title {padding-left: 20px; line-height: 50px}

.block-multistep { background-color: #8B0047; color: #fff; margin-bottom: 20px}
.block-multistep a {color: #fff}

.panel-flexible .panel-separator {
    margin: 0 0 0 0;
}
.block-multistep a.multistep-submitted {  color: #FFF;}
.block-multistep a.multistep-unsubmitted { color: #FFF; font-weight: bold}
.block-multistep span.multistep-unsubmitted { color: #CC72A6}


.block-multistep .content { padding: 10px 20px}

div.vertical-tabs .vertical-tabs-panes .fieldset-wrapper legend {
  display:block;
  margin-bottom:2.5em;
}

#search-block-form .rel-register-link {display: none}

.facebook {}
 .node-type-iframe-selvbetjeningsl-sning-mm h1#page-title {display: none}
.billedrotator { background-image: url(../images/billedkarusel-bg.png); margin-bottom: 10px; border-radius: 6px;}
.page-home #region-sidebar-first {display: none}

.qtip-cmstheme .qtip-wrapper { margin-top: 26px; background-image: url("../images/content-bg.png");margin-top: 26px; background-position: center top; background-color: #FFF; background-repeat: no-repeat; padding: 20px}
.rightside-purple { color: #BF80A4; background-image: url(../images/selvbetjening-right-bg.png); background-repeat: no-repeat; padding-top: 60px; padding-left: 20px; padding-bottom: 40px;}
.rightside-purple h3 { margin: 12px 0px; text-transform: uppercase; font-size: 15px; font-weight: normal}
.rightside-purple ul {margin-left: 10px; margin-bottom: 45px}
.rightside-purple li { padding-left: 5px}
.rightside-purple .readmore a { font-size: 14px; margin-bottom: 10px}
.rightside-purple a { color: #fff; margin-bottom: 5px; font-weight: normal; font-size: 12px}

.spotbox-right {}

.plus10r { padding-right: 10px}

.page-node-edit .markItUp { width: 99%}

#node_contentpage_form_group_hidden, #node_galleri_form_group_hidden, #node_news_form_group_hidden {display: none}

.markItUp {
    margin: 5px 0; 
    width: auto;
}

.field-name-field-resume-long {font-size: 16px; margin-bottom: 20px}

.active-trail .expanded {border-left: 4px solid #666}

.omega-24-twocol-12-12 .grid-12 {margin-left: 0px;}
.node-contentpage .field-name-field-lead-image {margin-bottom: 20px}

.view-megadd-news ul, .view-megadd-news ul li {margin-left: 0}
.view-megadd-news a {color: #787878}

.qtip-wrapper .menu-minipanels ul.menu li.leaf {float: left; width: 220px}

#footer-region h2.pane-title {
  border-bottom: solid 1px #ccc;
  font-size: 15px;
}

#footer-region ul.menu a {
  margin-bottom: 5px;
}

.view-spot-view .jcarousel-skin-default .jcarousel-container-horizontal li,
.view-spot-view .jcarousel-skin-default .jcarousel-clip-horizontal li {
  height: auto;
  border: 0;
  margin: 0;
}

.view-spot-view .jcarousel-skin-default .jcarousel-container-horizontal li .views-field div.spotTitle,
.view-spot-view .jcarousel-skin-default .jcarousel-clip-horizontal li .views-field div.spotTitle{
  height: 60px;
  padding: 7px 25px 0 25px;
  clear: both;
  color: #666;
  text-align: left;
}

.view-spot-view .jcarousel-skin-default .jcarousel-container-horizontal,
.view-spot-view .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.view-spot-view .jcarousel-skin-default .jcarousel-next-horizontal,
.view-spot-view .jcarousel-skin-default .jcarousel-prev-horizontal {
  background: url(../images/spot-right.png) no-repeat top left;
  width: 20px;
  height: 67px;
  bottom: 0;
  right: 0;
  top: auto;
}

.view-spot-view .jcarousel-skin-default .jcarousel-prev-horizontal {
  background-image: url(../images/spot-left.png);
  left: 0;
}

.view-spot-view .views-field a {
  display: block;
}

.view-spot-view .views-field a .spotImage {
  text-align: center;
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding: 5px 0;
}

.view-spot-view .views-field a:hover .spotImage {
  background: #961862;
}

.block-multistep h2.block-title { color: #fff}
.block-multistep .item-list ul li {margin: 0 0 0 0}
.multistep-progress-bar-wrapper {display: none}


/* Kontaktblok */

.kontaktblok-overskrift {color: #4B4B4B;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px;
    padding-bottom: 0;
    text-transform: uppercase;}

.telfonnummer {background-image: url(../images/telefon.png); background-repeat: no-repeat; padding-left: 35px; margin-bottom: 10px}
.telfonnummer, .telfonnummer a { font-size: 34px;color: #777; line-height: 37px}

.views-field-field-kontaktblok-callcenter p {margin-bottom: 10px}
.views-field-field-kontaktblok-callcenter {margin-top: 15px; margin-bottom: 15px}

/***************/

#region-sidebar-first ul.menu li {
  border-left-width: 0;
  border-bottom: solid 1px #ccc;
}
#region-sidebar-first ul.menu li ul li.expanded.active,
#region-sidebar-first ul.menu li ul li.expanded li.expanded.active,
#region-sidebar-first ul.menu li ul li.expanded li.expanded li.expanded.active,
#region-sidebar-first ul.menu li ul li.expanded li.expanded li.expanded li.expanded.active {
  background: url("../images/menu-bg-ul-li-ul-li-active-trail.png") repeat top left;
}

#region-sidebar-first ul.menu li ul li a.active,
#region-sidebar-first ul.menu li a,
#region-sidebar-first ul.menu li ul a {
 display: inline-block; 
 vertical-align: middle;
 line-height: 1.2;
 width: 75%; 
 padding: 20px 40px 20px 20px;
 background: url(../images/v-arrow-default.png) no-repeat right 50%;
}

#region-sidebar-first ul.menu li ul li li a.active,
#region-sidebar-first ul.menu li li ul a {
 padding: 10px 40px 10px 20px;
}

#region-sidebar-first ul.menu li.active-trail a.active,
#region-sidebar-first ul.menu li a:hover {
 background: url(../images/v-arrow-default-on.png) no-repeat right 50%;
 color: #fff;
}

#region-sidebar-first ul.menu li.expanded,
#region-sidebar-first ul.menu li.active-trail {
  background: #e3e3e3;
}

#region-sidebar-first ul.menu li.expanded li.expanded,
#region-sidebar-first ul.menu li.active-trail li.active-trail {
  background: #c7c7c7;
}

#region-sidebar-first ul.menu li.expanded li.expanded li.expanded,
#region-sidebar-first ul.menu li.active-trail li.active-trail li.active-trail {
  background: #b7b7b7;
}

#region-sidebar-first ul.menu li.expanded li.expanded li.expanded li.expanded,
#region-sidebar-first ul.menu li.active-trail li.active-trail li.active-trail li.active-trail {
  background: #989898;
}


#region-sidebar-first ul.menu li.expanded a.active-trail,
#region-sidebar-first ul.menu li.active-trail a.active,
#region-sidebar-first ul.menu li.active-trail a.active-trail {
 background: url(../images/v-arrow-default.png) no-repeat right 50%;
 color: #000;
}

#region-sidebar-first ul.menu li.expanded a.active,
#region-sidebar-first ul.menu li.active-trail a.active,
#region-sidebar-first ul.menu li.active-trail a.active-trail,
#region-sidebar-first ul.menu li.expanded a.active-trail {
 background: url(../images/v-arrow-expanded.png) no-repeat right 50%;
}

#region-sidebar-first ul.menu li.active-trail a.active {
 background: url(../images/v-arrow-expanded-on.png) no-repeat right 50%;
 color: #fff;
}

#region-sidebar-first ul.menu li ul li.expanded a:hover {
  color: #fff;
}

#region-sidebar-first ul.menu li.expanded.active {
  border-bottom: #8b0053 solid 1px;
}
