/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #ddd }
html, button, input, select, textarea { font-family: Arial, Sans-Serif; color: #222; }

table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }

body {background-image: url(../images/bg.png)}
body, div {font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:link, a:visited { color: #0062A0; text-decoration: none;}

h1, h2, h3, h4, h5, h6 { letter-spacing: -0.05em; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; }

.block-user-menu, .vertical-menu, .block-menu-top-menu {}

.block-user-menu  a, .vertical-menu a, , .block-menu-top-menu a { text-decoration: none }


#zone-user a, #zone-menu a {color: #656565; text-decoration: none}
#zone-menu { overflow: hidden; text-transform: uppercase; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}


#main-menu {float: left; line-height: 65px;font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}
#main-menu li a {background-image: url(../images/menu-dp.png); background-position: right; background-repeat: no-repeat; color: #666; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}


.block-search-form {float: right}


ul.inline li {padding: 0}

#block-block-3 {float: left}

#block-search-form  h2 { display: none}

#block-search-form .content { height: 68px; width: 450px; text-align: right; line-height: 65px; }

#block-search-form .content #edit-search-block-form--2 {width: 333px; font-size: 18px; border: none; line-height: 65px; height: 65px; vertical-align: top; padding: 10px; margin: 0; text-transform: uppercase; background: transparent; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;}

#block-search-form #edit-submit {
    background-image: url(../images/search-button.png); width: 100px; height: 68px; border: none; border-radius: none; margin: 0; padding: 0; border-radius: 0;  
    }
#region-header-second .region-inner {padding-top: 55px; padding-left: 20px}
#region-header-second .region-inner li { float: left; padding-right: 10px; text-transform: uppercase; font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; font-size: 11px; list-style: none; }
