
/* nedefter er fra 31. maj */

/*.grid-6.region-content li {
    list-style-image:url("../images/megamenu-arrow-over.png");
    color: #4A4A4A;
    font-size: 13px;
    line-height: 22px;
}
.grid-6.region-content span a{    
    color: #4B4B4B;
    font-size: 15px;
}
*/
.grid-6.region-content .field-name-field-webform-attachment{
    margin-bottom: 20px;
}
.grid-6.region-content .field-name-field-webform-attachment .field-items:first-child{
    width: 470px;
    display: block;
    border-top: 1px solid #CCCCCC;
}
.grid-6.region-content .field-name-field-webform-attachment .odd span.file:hover, .grid-6.region-content .field-name-field-webform-attachment .even span.file:hover{
    background-color: #fffeee;
}
.grid-6.region-content .field-name-field-webform-attachment .field-items span.file{
    width: 458px;
    display: block;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding:5px;
}
.grid-6.region-content .field-name-field-webform-attachment .odd span.file{
    background-color: #F1F5FA;
}

/* nedefter er fra 29. maj */

/* borger - populære borgerservices */
#panel-borger .selvbetjening-block-forside a {
    color: #FFFFFF;
}
#panel-borger #pop-borgerservices h3 {
    font-size: 16px;
}
#panel-borger .selvbetjening-block-portal h3 a {
    font-size: 16px;
}
#panel-borger .selvbetjening-block-forside h3 a {
    font-size: 16px;
}
#panel-borger #pop-borgerservices .lineHeightHack {
    font-size: 14px;
}

#panel-borger .portal-side .selvbetjening-block-portal .view-header {
    color: #b9809f;
    font-size: 14px;
}

/* bokse titel */

/*#panel-borger h2.pane-title, h2.block-title {
    font-size: 14px;
    margin-left: 7px;
    margin-top:16px;
}
*/
#panel-borger portalnews-big .views-row.views-row-first .news-list-left {
    border: 2px solid #FFFFFF;
}
#panel-borger portalnews-big .views-row.views-row-first .news-list-left:hover {
    border: 2px solid #b80053;
}

#panel-borger .portalnews-big .views-row .news-list-right p:first-child {
    margin-top: 3px;
}
/*#panel-borger .portalnews-big h3 a {
    /* overskrives af global-ts !!! */
  /*  color: #787878;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}
#panel-borger .portalnews-big .views-row-first h3 a {
    font-size: 10px;
}
/* spotbokse nederst */
/*#panel-borger .pane-spotboxe-panel-pane-3 .spotbox h3 {
    background-image: url("../images/spotboxPILb.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #787878;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    line-height: 0px;
    overflow: hidden;
    width: 190px;
    padding-top: 0px;
    padding-bottom: 20px;
}
#panel-borger .pane-spotboxe-panel-pane-3 .spotbox h3 a {
    color: #787878;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}*/


/* det sker boks */
#panel-borger .view-id-kulturnaut_events_lister {
    background-image: url("../images/detskerBORGER.png");
    height: 235px;
    width: 234px;
}

