
/* borger - populære borgerservices */
#panel-borger .selvbetjening-block-forside a {
    color: #FFFFFF;
}
#panel-borger #pop-borgerservices h3 {
    font-size: 16px;
}
#panel-borger .selvbetjening-block-portal h3 a {
    font-size: 16px;
}
#panel-borger .selvbetjening-block-forside h3 a {
    font-size: 16px;
}
#panel-borger #pop-borgerservices .lineHeightHack {
    font-size: 14px;
}

#panel-borger .selvbetjening-block-portal .form-type-select select {
    font-size: 14px;
    height: 35px;
    padding: 10px 3px 3px 0;
}
#panel-borger .selvbetjening-block-forside .form-type-select select {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 14px;
    color: #8b0053;
    height: 50px;
    padding: 16px 20px 15px 0;
    text-transform: none;
    width: 298px;
}
#panel-borger .portal-side .selvbetjening-block-portal .view-header {
    color: #b9809f;
    font-size: 14px;
}
#panel-borger .selvbetjening-block-portal #ctools-jump-menu--2, .selvbetjening-block-portal #ctools-jump-menu {
    background-image: url("../images/dropdown2BORGER.png");
}

/* bokse titel */

#panel-borger h2.pane-title, h2.block-title {
    font-size: 14px;
    margin-left: 7px;
    margin-top:16px;
}

#panel-borger portalnews-big .views-row.views-row-first .news-list-left {
    border: 2px solid #FFFFFF;
}
#panel-borger portalnews-big .views-row.views-row-first .news-list-left:hover {
    border: 2px solid #b80053;
}

#panel-borger .portalnews-big .views-row .news-list-right p:first-child {
    margin-top: 3px;
}
#panel-borger .portalnews-big h3 a {
    /* overskrives af global-ts !!! */
    color: #787878;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}
#panel-borger .portalnews-big .views-row-first h3 a {
    font-size: 10px;
}
/* spotbokse nederst */
#panel-borger .pane-spotboxe-panel-pane-3 .spotbox h3 {
    background-image: url("../images/spotboxPILb.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #787878;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    line-height: 0px;
    overflow: hidden;
    width: 190px;
    padding-top: 0px;
    padding-bottom: 20px;
}
#panel-borger .pane-spotboxe-panel-pane-3 .spotbox h3 a {
    color: #787878;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}


/* det sker boks */
#panel-borger .view-id-kulturnaut_events_lister {
    background-image: url("../images/detskerBORGER.png");
    height: 235px;
    width: 234px;
}

